<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seebaldtart.projectinventoryapp">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/book_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/book_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CatalogActivity"
            android:label="@string/main_activity_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditorActivity"
            android:label="@string/editor_label_add"
            android:parentActivityName=".CatalogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogActivity"/>
        </activity>
        <provider
            android:authorities="com.seebaldtart.projectinventoryapp"
            android:name=".data.ProductProvider"
            android:exported="false"/>
    </application>
</manifest>